table{
    border-spacing: 0;
}

#tableWrp{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    
}

.pagination button {
    width: 40px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    background: transparent;
    color: #000;
    border-color: #eee;
}

tr{
    background: rgba(255,255,255,0.83);
background: -moz-linear-gradient(top, rgba(255,255,255,0.83) 0%, rgba(143,143,143,0.93) 59%, rgba(120,118,120,0.95) 71%, rgba(107,105,107,0.97) 83%, rgba(92,90,92,0.99) 93%, rgba(105,104,105,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.83)), color-stop(59%, rgba(143,143,143,0.93)), color-stop(71%, rgba(120,118,120,0.95)), color-stop(83%, rgba(107,105,107,0.97)), color-stop(93%, rgba(92,90,92,0.99)), color-stop(100%, rgba(105,104,105,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0.83) 0%, rgba(143,143,143,0.93) 59%, rgba(120,118,120,0.95) 71%, rgba(107,105,107,0.97) 83%, rgba(92,90,92,0.99) 93%, rgba(105,104,105,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0.83) 0%, rgba(143,143,143,0.93) 59%, rgba(120,118,120,0.95) 71%, rgba(107,105,107,0.97) 83%, rgba(92,90,92,0.99) 93%, rgba(105,104,105,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0.83) 0%, rgba(143,143,143,0.93) 59%, rgba(120,118,120,0.95) 71%, rgba(107,105,107,0.97) 83%, rgba(92,90,92,0.99) 93%, rgba(105,104,105,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0.83) 0%, rgba(143,143,143,0.93) 59%, rgba(120,118,120,0.95) 71%, rgba(107,105,107,0.97) 83%, rgba(92,90,92,0.99) 93%, rgba(105,104,105,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#696869', GradientType=0 );
}
tr{
    margin: 0.25rem;
    padding: 0.5rem;
    color: white;
}
tr {
    background: #4c4c4c;
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 7%, #666666 28%, #2c2c2c 56%, #111111 75%, #2b2b2b 91%, #131313 96%, #131313 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #4c4c4c), color-stop(7%, #595959), color-stop(28%, #666666), color-stop(56%, #2c2c2c), color-stop(75%, #111111), color-stop(91%, #2b2b2b), color-stop(96%, #131313), color-stop(100%, #131313));
    background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 7%, #666666 28%, #2c2c2c 56%, #111111 75%, #2b2b2b 91%, #131313 96%, #131313 100%);
    background: -o-linear-gradient(top, #4c4c4c 0%, #595959 7%, #666666 28%, #2c2c2c 56%, #111111 75%, #2b2b2b 91%, #131313 96%, #131313 100%);
    background: -ms-linear-gradient(top, #4c4c4c 0%, #595959 7%, #666666 28%, #2c2c2c 56%, #111111 75%, #2b2b2b 91%, #131313 96%, #131313 100%);
    background: linear-gradient(to bottom, #4c4c4c 0%, #595959 7%, #666666 28%, #2c2c2c 56%, #111111 75%, #2b2b2b 91%, #131313 96%, #131313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
    height: 2rem;
    width: 100%;
}

#tableContent{
    padding: 0.5rem;
    margin: 1rem;
}

#tableHeader{
color: white

}