table{
    border-spacing: 0;
}

.tableWrp
.noDataText{
    font-size: 2.5rem;
    color: white;
    text-align:center;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
    padding-top: 3rem ;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}


.tableWrp{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 4rem;   
}
.tableWrp
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    margin: 1.5rem 10rem 0 10rem;
    backdrop-filter: blur(0px);
    border-radius: 25px;
    padding: 0.5rem;
    width: 25%;
    border-bottom:1px white solid;

}

.tableWrp
.pagination button {
    width: 40px;
    height: 40px;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0 10px;
    border:none;
    cursor: pointer;
    background: transparent;
    color: #fff;
}

.tableWrp
.pagination
.buttonInactive:hover{
    cursor: not-allowed;
}

.tableWrp
.pagination input{
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    margin: 0 10px;
    border: 1px  white solid;
    cursor:text;
    color: #fff;
    text-align: center;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 12px;
}
tr {
 height: 3rem;
    width: 100%;
    color: white;
}
tr:hover {
    backdrop-filter: blur(0px) saturate(200%);border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.tableWrp
.tableContent{
    font-size: 1.5rem;
    text-align: center;
}

.tableWrp
.tableHeader{
    font-family: inherit;
color: white;
font-size: 2rem;
backdrop-filter: none;
}


@media screen and (max-width: 768px) {
    .tableWrp{
        padding: 2rem;
        gap: 5rem;   
    }
    .tableWrp
    .tableHeader{
        font-size: 1.5rem;
    }
    .tableWrp
    .noDataText{
        font-size: 1.75rem;
    }

    .tableWrp
    .tableContent{
        font-size: 1.2rem;
    } 

    .tableWrp
    .pagination {
        width: 56%;
    }

    .tableWrp
    .pagination button {
        width: 24px;
        height: 24px;
        font-size: 1.2rem;
        margin: 0 1rem;
    }

    .tableWrp
    .pagination input{
        width: 24px;
        height: 24px;
        font-size: 1.2rem;
        margin: 0 1rem;
        border-radius: 10px;
    }
}


@media screen and (max-width: 480px) {
    .tableWrp{
        padding: 1rem; 
    }
    .tableWrp
    .tableHeader{
        font-size: 1.2rem;
    }
    .tableWrp
    .noDataText{
        font-size: 1.25rem;
    }
    .tableWrp
    .tableContent{
        font-size: 1rem;
    }    

    .tableWrp
    .pagination {
        width: 80%;
    }

    .tableWrp
    .pagination button {
        width: 18px;
        height: 18px;
        font-size: 1rem;
        margin: 0 1rem;
    }

    .tableWrp
    .pagination input{
        width: 18px;
        height: 18px;
        font-size: 1rem;
        margin: 0 1rem;
        border-radius: 8px;
    }
}