table{
    border-spacing: 0;
    
}

#tableWrp{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 4rem; 
    
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    margin: 1.5rem 10rem 0 10rem;
    backdrop-filter: blur(0px);
    border-radius: 25px;
    padding: 0.5rem;
    width: 25%;
    border-bottom:1px white solid;

}

.pagination button {
    width: 40px;
    height: 40px;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0 10px;
    border:none;
    cursor: pointer;
    background: transparent;
    color: #fff;
}
.pagination input{
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    margin: 0 10px;
    border: 1px  white solid;
    cursor:text;
    color: #fff;
    text-align: center;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 12px;
}
tr {
 height: 3rem;
    width: 100%;
    color: white;
}
tr:hover {
    backdrop-filter: blur(0px) saturate(200%);border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}


#tableContent{
    font-size: 1.5rem;
    text-align: center;
}


#tableHeader{
    font-family: inherit;
color: white;
font-size: 2rem;
backdrop-filter: none;
}


@media screen and (max-width: 768px) {
    #tableHeader{
        font-size: 1.5rem;
    }

    #tableContent{
        font-size: 1.2rem;
    } 

    .pagination {
        width: 56%;
    }
    .pagination button {
        width: 24px;
        height: 24px;
        font-size: 1.2rem;
        margin: 0 1rem;
    }
    .pagination input{
        width: 24px;
        height: 24px;
        font-size: 1.2rem;
        margin: 0 1rem;
        border-radius: 10px;
    }
}


@media screen and (max-width: 480px) {
    #tableHeader{
        font-size: 1.2rem;
    }
    #tableContent{
        font-size: 1rem;
    }    

    .pagination {
        width: 70%;
    }
    .pagination button {
        width: 18px;
        height: 18px;
        font-size: 1rem;
        margin: 0 1rem;
    }
    .pagination input{
        width: 18px;
        height: 18px;
        font-size: 1rem;
        margin: 0 1rem;
        border-radius: 8px;
    }
}